@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #8fada1;
}

* {
    -webkit-tap-highlight-color: transparent;
}